<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Main/mainhead.php">
    <link rel="stylesheet" href="../../public/lib/bootstrap5/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <div class="" style="display: flex;">
        <div  style="margin: auto; padding-top: 10%;">
            <p class="text-left text-danger font-weight-bold ">EMPRESA SAC</p>
            <h1 class="text-center pd-t-50">CERTIFICADO DE TRABAJO</h1>
            <p class="text-dark"><ins>CERTIFICO</ins></p>
            <p>A <label class="text-danger">BRIAN CCAPA</label> por haber trabajado para esta empresa como <label class="text-danger">SUPERVISOR</label> desde <label class="text-danger">18-10-1950</label> hasta <label class="text-danger">20-08-1970</label></p>
            <br>
            <p>Doy fe de su buen desenvolvimiento en las funciones asigandas, emitiendo el presente documento para los fines pertinentes.</p>
            <br>
            <p class="text-danger">LIMA, 28-10-1970</p>
        </div>
    </div>
</body>
</html>